* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: sf-title;
    src: url(assets/fonts/SF-Pro-Display-Semibold.otf);
}

@font-face {
    font-family: sf-regualar;
    src: url(assets/fonts/SF-Pro-Display-Regular.otf);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

@media(min-width: 800px) {
    .desktop-navbar {
        visibility: visible;
    }

    .mobile-navbar {
        visibility: hidden;
    }
}

@media(max-width: 1200px) {
    .desktop-navbar {
        visibility: hidden;
    }

    .mobile-navbar {
        visibility: visible;
    }
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    transition: 0.5s;
    font-family: "sf-title";
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s;
    font-family: "sf-regualar";
}

header .logo:hover,
header ul li a:hover {
    color: rgb(197, 228, 86);
}

header.sticky {
    padding: 5px 100px;
    background: rgb(9, 71, 141);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header.sticky .logo,
header.sticky li a {
    color: #fff;
    font-weight: bold;
}

header.sticky li a:hover,
header.sticky .logo:hover {
    color: rgb(197, 228, 86);
    transition: 0.5s;
}

/* Header */

.title {
    margin-top: 200px;
    color: rgb(16, 148, 224);
    font-family: "sf-title";
}

.services {
    margin-top: 50px;
    font-family: "sf-title";
    color: rgb(16, 148, 224);
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item {
    color: #fff;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    padding: 4px;
}

.card-list .card-item {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .message {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030303;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s;
}

.card-list .card-item .message:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -5px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: rgb(16, 148, 224);
}

@media(max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }
}